<h1> TEST</h1>
<div id="furniture_info">
 <form id="furniture_form">
   <label>Selected Furniture</label><br><br>
   <label>Name:</label><br>
   <input id="furn_name" type="text" name="name"><br>
   <label>Width:</label><br>
   <input id="furn_width" type="number" name="width"><br>
   <label>Length:</label><br>
   <input id="furn_length" type="number" name="length"><br>
   <label>Rotation:</label></br>
   <input id="furn_rotation" type="number" name="rotation"><br><br>
   <input type="submit">
 </form>
</div>




<!-- WE DONT TOUCH THIS -->
<div id="drawing"></div>
<!-- WE DONT TOUCH THIS -->





<div id="room_info">
 <form id="room_form">
   <label>Room Dimensions</label><br><br>
   <label>Width:</label><br>
   <input id="room_width" type="number" name="width"><br>
   <label>Length:</label><br>
   <input id="room_length" type="number" name="length"><br><br>
   <input type="submit">
 </form>
</div>