

<!-- Navigation...bar-clear-color class to clear navbar background.. -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_welcome">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll welcome_link" href="#page-top">Measure Twice!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <% if current_user %>
                <li class="navbar-brand welcome_link">
                    WELCOME, <%= current_user.name.upcase %>!      |
                </li>
                <% end %>
                <li>
                     <%= link_to "Enter", "/auth/facebook", id: "sign_in", class: "welcome_link" %>
                </li>

                <% if current_user %>
                <li>
                    <%= link_to "Sign Out", signout_path, id: "sign_in", class: "welcome_link" %>
                </li>
                <% else %>
                <li>
                    <a class="page-scroll welcome_link" href="#about">About</a>
                </li>

                <% end %>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Header -->
<div class="header-container">
   <div class = "video-container">
     <video preload="true" autoplay="autoplay" loop="loop" muted="muted" volume="0" poster="/img/team/katy.jpg"  >
       <source src="/video/background-loop.mp4" type="video/mp4">
           <source src="/video/background-loop.webm" type="video/webm">
               <!-- <source src="/video/3.ogv" type="video/ogg"> -->

           </video> <!-- end of video -->

       </div> <!-- end of video container -->
       <div id="h3">
          <h4>We'll Show You How To Move.</h4>
       </div>

</div> <!-- end of header container -->



   <!-- About Section -->
   <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
<!--                 <h3 class="section-subheading text-muted"></h3> -->
                <h4 class="h4dark">Anyone who's moved knows how stressful a process it can be trying to guess what will fit where. We have set out to provide a user-friendly tool that serves as a virtual playground for testing the placement of various shapes in a given space. There's a carpenter's saying: "Measure Twice, Cut Once". Let us take the guesswork out of moving. Please enjoy Measure Twice!</h4>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img id="big_logo"src="/img/logo.png" class="img-responsive img-centered welcome_link" alt="" width="200" height="500">
                <h2 class="section-heading">Our Amazing Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="team-member">
                        <img src="/img/team/blackpiece.png"  class="img-responsive img-circle hoverelement" id="katyPic" alt="" width="200" height="500">
                        <h4 class="h4dark">Katy Duncan</h4>
                        <p class="text-muted"> "Pink-Kirby" </p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="team-member">
                        <img src="/img/team/blackpiece.png" class="img-responsive img-circle hoverelement" id="majdPic" alt="" width="200" height="500">
                        <h4 class="h4dark">Majd Murad</h4>
                        <p class="text-muted"> "Blue-Kirby" </p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="team-member">
                        <img src="/img/team/blackpiece.png" class="img-responsive img-circle hoverelement" id="natePic" alt="" width="200" height="500">
                        <h4 class="h4dark">Nate Lee</h4>
                        <p class="text-muted">"Fox"</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="team-member">
                        <img src="/img/team/blackpiece.png" class="img-responsive img-circle hoverelement" id="ryanPic" alt="" width="200" height="500">
                        <h4 class="h4dark">Ryan Carpenter </h4>
                        <p class="text-muted"> "Yoshi" </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

