
/*shaikhmajdi [4:31 PM]4:31*/
#drawing {
 /*border: 1px solid red;*/
 height: 600px;
 width: 800px;
 /*float: left;*/
 outline: 3px solid black;
 padding: 0px !important;
}

#furniture_info{
 /*border: 1px solid red;*/
 /*width*/
 height: 400px;
 float: left;
 padding: 2px;

}

#room_info{
 /*border: 1px solid red;*/
 width: 14.8%;
 height: 400px;
 float: right;
 padding: 2px;
}